body {
  background-color: #f5fffa;
  color: #000000;
  font-family: Arial, Helvetica, sans-sarif;
  margin: 10% 20%;
}

.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  background-color: rgba(0,0,0,0.05)
}
